h1 {
    text-align: center;
}
.history img {
 width:1000px ;
 height: 700px;
float: left;
 transition: all 0.3s ease; 
 border-bottom-right-radius: 50px;
 border-top-right-radius:50px ;
 padding-top: 20px;
}
.history ul {
    display: flex;
    text-decoration: none;
    overflow: hidden;
    list-style-type: none;

}


.history img:hover{
    
    transform: scale(1.05); 
 
}

.history p {
    text-align: center;
padding: 90px;
list-style-type:georgian;



}
.history {
    border-radius: 30px;
}